*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body {
    background-color: whitesmoke;
    overflow: hidden;   
}
/* header cabezera de la pagina  */

header a {
    cursor: pointer;
    margin-top: 40px;
    margin-left: 50px;
}

header u {
    cursor: pointer;
    text-decoration: none;
    /* position: absolute; */
    margin-left: 0.5pc;
    /* margin-top: 40px; */
}

header i {
    cursor: pointer;
    margin-top: 40px;
    margin-left: 74pc;
}

/* cuerpo de la pagina  */

main {
    /* margin-top:165px ; */
    margin-left: 50px;
    display: flex;
    align-items: center;
}

main h1 {
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}

.madre{
    margin-top: 3pc;
    margin-left: 15pc;
}

.que-wants{
    font-size: 12px;
    width: 18.5pc;
    display: flex;
    margin: 20px;
    align-items: center;
    gap: 70px;
}

main p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: default;
    color:black; 
}



.sizes{
    display: grid;
    justify-content: space-between;
    height: 60px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding: 6px;
}


.letra {
    font-size: 20px;
    margin-top: -30px;
    width: 100px;
    padding: 6px;
    display: flex;
    gap: 23px;
}

.letra p {
    cursor: pointer;
}

main h4 {
    margin-top: 30px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    cursor: pointer;
    font-size: 13px;
    width: 330px;
    height: 25px;
    border-radius: 5px;
    margin-top: 10px;
}

.boton {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

button:hover {
    -webkit-transform:scale(1.1);

}

button {
    -webkit-transition: all .9s ease-in-out;
    cursor: pointer;
    height: 21px;
    width: 150px;
    background-color: #AEA260;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.boton p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.gold{
    top: -250px;
    right: 60pc;
    border-radius: 90%;
    border: 60px solid #585934 ;
    height: 180%;
    width: 90%;
    position: absolute;
    z-index: -1;
}

.white {
    background-color: white;
    top: -195px;
    right: 69pc;
    border-radius: 60%;
    height: 160%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.mueble{
    margin-left: 2pc;
}


footer b{
    margin-top:5pc;
    margin-left: 50px;
    
}


footer i {
    margin-left: 10px;
} 

footer s{
    /* position: absolute; */
    text-decoration: none;
    /* margin-top: 230px; */
}